body {
  background: #dcdcdc;
  padding: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 90vh;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 50px;
  background: #f6f6f6;
}
.left-panel {
  /* display: flex; */
  /* flex-direction: column; */

  width: 25%;
  background: #ffffff;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  /* gap: 100px; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
}
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin-inline: auto;
  align-items: center;
  /* background-color: lightblue; */
  justify-content: space-evenly;
  gap: 40px;
  margin-top: 20px;
}
.left-second-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* background-color: lightblue; */
  /* width: 80%; */
}

.icon {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffd76a, #ffb347);
}
.Search-bar {
  padding: 20px;
  width: 80%;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 15px;
  outline: none;
  border: none;
}
.lef-panel-middle {
  display: flex;
  gap: 10px;
  /* background-color: lightcoral; */
  /* margin-top: 200px; */
  /* background-color: lightblue; */
  /* height: 40%; */
  align-items: center;
  flex-direction: column;
}
h1,
h4,
h2 {
  font-family: sans-serif;
}

.photo {
  border-radius: 15px;
  height: 40%;
  width: 100%;
}

.right-panel {
  height: 100%;

  width: 75%;
  /* background-color: aqua; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.right-panel-header {
  display: flex;
  gap: 10px;
  /* padding: 20px; */
  /* margin-top: 20px; */
  /* margin-left: 50px; */
}
.right-card {
  display: flex;
  flex-direction: column;
  /* background-color: lightgreen; */
  width: 90%;
  height: 90%;
  margin-top: 60px;
  margin-left: 40px;
  gap: 20px;
}
.week {
  display: flex;
  /* padding: 40px; */
  /* padding-inline: 0px; */
  /* background-color: lightblue; */
  align-items: flex-start;
  width: 100%;

  justify-content: space-between;
  gap: 30px;
  /* margin-left: 70px; */
}
.week-days {
  padding-block: 15px;
  display: flex;
  width: 120px;

  border-radius: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: #ffffff;
}

.little-Icon {
  width: 34px;
  height: 34px;
  background: linear-gradient(135deg, #ffd76a, #ffb347);
  border-radius: 50%;
}
.week-days h1,
h2 {
  font-weight: 150;
}
.right-card-bottom-container {
  display: flex;
  /* background-color: #ffd76a; */
  flex-direction: column;
  height: 50%;
  gap: 10px;
  /* padding: 10px; */
}
.bottom-first-row {
  display: flex;
  height: 50%;
  gap: 10px;
}
.bottom-second-row {
  display: flex;
  height: 50%;
  gap: 10px;
}
.status-boxes {
  padding: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  background: #ffffff;
  /* background-color: lightcoral; */
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 33%;
  height: 100%;
  border-radius: 50px;
}
.slim-text {
  color: rgb(141, 139, 139);
  font-weight: 100;
}
.status-boxes-inner-elements {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}
