* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #dcdcdc;
  font-family: sans-serif;
}
/* This is The Entire Container */
.wrapper {
  display: flex;
  /* align-items: center; */
  width: 90vw;
  height: 90vh;
  /* padding-block: 30px; */
  margin: auto;
  margin-top: 80px;
  border: 1px solid lightgrey;
  border-radius: 50px;
  background: #f6f6f6;
}
/* This is the left part of the container */
.left-panel {
  display: flex;
  flex-direction: column;

  width: 25%;
  background: #ffffff;
  /* height: 100%; */
  /* margin-block: 0; */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  /* gap: 100px; */
  justify-content: space-around;
  /* align-items: center; */
}
/* This part hold all elements within the left panel */
.left-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* height: 100%; */
  margin-inline: auto;
  align-items: center;
  /* background-color: lightblue; */
  justify-content: space-between;
  gap: 40px;
  /* margin-top: 10%; */
  /* border: solid; */
}
/* This part is for flex box effecincy */

.search-bar {
  padding: 20px;
  width: 80%;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 15px;
  outline: none;
  border: none;
}
.lef-panel-middle {
  display: flex;
  gap: 10px;
  /* background-color: lightcoral; */
  /* margin-top: 200px; */
  /* background-color: lightblue; */
  /* height: 40%; */
  align-items: center;
  flex-direction: column;
}
/* tow of the above classes are for the first item and bellow is the second one  */
.left-second-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  /* background-color: lightblue; */
  /* width: 80%; */
}

.icon {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffd76a, #ffb347);
}
h1,
h4,
h2 {
  font-family: sans-serif;
}

.photo {
  border-radius: 15px;
  height: 100%;
  max-height: 200px;
  width: 100%;
  max-width: 450px;
  margin-inline: auto;
}

.right-panel {
  /* height: 100%; */
  padding-bottom: 30px;
  padding-right: 20px;
  width: 75%;
  /* background-color: aqua; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.right-panel-header {
  display: flex;
  gap: 10px;
  /* padding: 20px; */
  /* margin-top: 20px; */
  /* margin-left: 50px; */
}
.right-card {
  display: flex;
  flex-direction: column;
  /* background-color: lightgreen; */
  width: 90%;
  /* height: 90%; */
  margin-top: 40px;
  margin-left: 40px;
  gap: 20px;
}
.week {
  display: flex;
  /* padding: 40px; */
  /* padding-inline: 0px; */
  /* background-color: lightblue; */
  align-items: flex-start;
  width: 100%;

  justify-content: space-between;
  gap: 10px;
  /* margin-left: 70px; */
}
.week-days {
  padding-block: 15px;
  display: flex;
  /* width; */

  border-radius: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: #ffffff;
}

.little-Icon {
  width: 34px;
  height: 34px;
  background: linear-gradient(135deg, #ffd76a, #ffb347);
  border-radius: 50%;
}
.week-days h1,
.week-days h2 {
  font-weight: 100;
}

.right-card-bottom-container {
  display: flex;
  /* background-color: #ffd76a; */
  flex-direction: column;
  max-height: 50%;
  gap: 10px;
  /* padding: 10px; */
}
.bottom-container-rows {
  display: flex;
  height: 50%;
  gap: 10px;
}
.status-boxes {
  padding: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  background: #ffffff;
  /* background-color: lightcoral; */
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 33%;
  height: 100%;
  border-radius: 50px;
  flex-wrap: wrap;
}
.slim-text {
  color: rgb(141, 139, 139);
  font-weight: 200;
  /* margin: auto; */
  /* background-color: lightblue; */
}
.status-boxes-inner-elements {
  max-height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 30px;
  /* border: solid; */
  padding-bottom: 5px;
  height: 100%;
  min-height: 120px;
}
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: fit-content;
  }
  .left-card {
    width: 100%;
  }
  .left-panel {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper {
    flex-direction: row;
  }
}
